<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Llena todos los campos a continuación</p>
    <form action="" method="post">
      <input type="text" placeholder="Nombre de la modalidad" name="nameMOD"  required="">
      <input type="submit" value="Registrar" name="Consultar"  required="">
  </form>
  </body>
</html>
