<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
    <h3>Datos:</h3>
    <form action="" method="post">
      
      <input type="submit" value="Recibir" name="Consultar"  required="">
  </form>
  </body>
</html>
